@import 'modules/_message';
@import '_vars';


/* reset */
* {
	margin: 0; padding: 0; box-sizing: border-box;
}

html, body { height: 100%; }

body {

	font: 1.25rem Helvetica, Arial;

	.black {
		background: $moonNavy;
	}

	.red {
		background: $cityGrey;
	}

	.blue {
		background: $tropicalBlue;
	}

	h2 {
		font-size: 1.25rem;
		font-style: italic;
	}
}

main { 
	display: flex;
	height: 100%;
	flex-direction: row;
	background-color: #bfcfd6;
}

.form-container, .messages {
	padding: 10px;
}

.form-container { 
	flex: 1; 
	background-color: white;
	border-top: 10px solid white;
}

.messages { 
	flex: 1;
	background-color: white;
}

input, textarea { 
	display: block; 
	width: 100%;
	border: 2px solid white;
	//border-color: #bfcfd6; 
	border-radius: 4px; 
	font-size: 0.8rem; 
	padding: 0.4rem; 
	border-style: solid;
}

textarea { height: 135px; }

form {
	//background: #000;
	padding: 3px;
	margin: 12px auto;

	input[type=submit] { 
		width: auto; 
		padding: 10px; 
		background-color: black;
		margin-top: 1rem; 
		border-radius: 8px;
		color: white;
		cursor: pointer;
		text-transform: uppercase;
		font-weight: bold;
	}
}

#messages {
	list-style-type: none; margin: 0; padding: 0;

	li { padding: 5px 10px;	}
	li:nth-child(odd) { background: #eee; }
}

.customTitles {
	margin-top: 30px;
}

.customTitles h1 {
	font-size: 20px;
	font-weight: bold;
	text-align: left;
}

.blackSquare {
	color: $moonLightBlue;
	font-size: 40px;
}

.blackSquare:hover {
	color: $moonLightBlue;
	opacity: 0.5;
}

.redSquare {
	color: $cityRed;
	font-size: 40px;
	z-index: 100;
}

.redSquare:hover {
	color: $cityRed;
	opacity: 0.5;
}

.blueSquare {
	color: $tropicalGreen;
	font-size: 40px;
}

.blueSquare:hover {
	color: $tropicalGreen;
	opacity: 0.5;
}

.spaceBox {
	text-align: center;
}

.cityBox {
	text-align: center;
}

.beachBox {
	text-align: center;
}


.borderSq {
	margin: 5px;
	padding: 0px 3px 0px 3px;
	border-radius: 5px;
}


.red {
	
	h1,h2 {
		color: white;
		}

	.form-container {
		background-image: url(../images/city.jpg);
	}

	.my-message {
		background-color: $cityRed;
		color: white;
	}

	.submitBut {
		background-color: $cityGrey;
	}

	.fontChange a {
		color: white;
	}
	
}

.blue {
	
	h1,h2 {
		color: white;
		}

	.form-container {
		background-image: url(../images/palm.jpg);
	}

	.my-message {
		background-color: $tropicalGreen;
		color: white;
	}

	.submitBut {
		background-color: $tropicalGreen;
	}

	.fontChange a {
		color: white;
	}
	
}

.black {
	
	h1,h2 {
		color: white;
		}

	.form-container {
		background-image: url(../images/moon.jpg);
	}

	.my-message {
		background-color: $moonLightBlue;
		color: $moonNavy;
	}

	.submitBut {
		background-color: $moonLightBlue;
	}

	.fontChange a {
		color: white;
	}
	
}

.indie {
	h1,h2 {
		font-family: 'Indie Flower', cursive;
		}

	.my-message {
		font-family: 'Indie Flower', cursive;
	}

	.submitBut {
		font-family: 'Indie Flower', cursive;
	}
}

.arial {
	h1,h2 {
		font-family: Arial, Helvetica, sans-serif;
		}

	.my-message {
		font-family: Arial, Helvetica, sans-serif;
	}

	.submitBut {
		font-family: Arial, Helvetica, sans-serif;
	}
}

.concert {
	h1,h2 {
		font-family: 'Concert One', cursive;
		}

	.my-message {
		font-family: 'Concert One', cursive;
	}

	.submitBut {
		font-family: 'Concert One', cursive;
	}
}

.fontChange {
	margin-top: 10px;
}

.fontChange a {
	color: black;
}

.fontButtons {
	display: block;
	float: left;
	font-size: 22px;
	margin-right: -10px;
}

#concert {
	font-family: 'Concert One', cursive;
}

#indie {
	font-family: 'Indie Flower', cursive;
	margin-top: 3px;
	margin-right: 1px;
}

#arial {
	font-family: Arial, Helvetica, sans-serif;
	margin-top: 1px;
}



@media screen and (min-width: 1023px){

	.customTitles h1 {
		text-align: left;
	}

	.fontButtons {
		float: right;
	}

	.customTitles {
		margin-top: 10px;
	}

	.fontChange {
		margin-top: 0px;
	}

	#indie {
		margin-right: -11px;
	}

}